body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the container at the top */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%; /* Make container stretch to full window width */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the card at the top */
    padding: 0;
    margin: 0;
}

.card {
    width: 600px; /* Make card stretch to full container width */
    height: auto;
    border: none;
    margin-top: -50px; /* Remove any margins to avoid gaps */
}

.card-header {
    background-color: #30688B;
    color: #fff;
    padding: 10px;
    width: 100%; /* Make header stretch to full card width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card-header img {
    max-height: 50px;
}

.card-body {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #343a40;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-text {
    margin-bottom: 5px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 9px;
    height: 45px;
    font-size: 16px;
}

.form-control::placeholder {
    color: #6c757d;
}

.btn-success {
    background-color: #30688B !important;
    border-radius: 9px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-color: #30688B !important; 
    color: white !important; /* To ensure the text color isn't green */
}

.btn-success:hover {
    background-color: #3A79A0 !important;
}

/* Style the select dropdown */
#condition option {
    line-height: 2; /* Attempt to increase spacing between options */
    padding: 8px 10px; /* Some browsers may respect padding */
    color: #000; /* Option text color */
    border-radius: 0px;
}

/* Styles for the suggestion list */
.suggestion-list {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 90%;
    background-color: white;
    z-index: 1000;
}

.suggestion {
    padding: 8px;
    cursor: pointer;
    word-wrap: break-word; /* Enable word wrap */
    word-break: break-word; /* Ensure long words break */
    white-space: normal; /* Allow text to wrap onto the next line */
}

.suggestion:hover {
    background-color: #f0f0f0;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.btn-primary {
    background-color: #3A79A0;
    border-color: #3A79A0;
}

.btn-primary:hover {
    background-color: #32698C; /* Slightly darker shade for hover effect */
    border-color: #32698C;
}
