body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the container at the top */
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent scrollbars */
}

.container {
    width: 100%; /* Make container stretch to full window width */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align the card at the top */
    padding: 0;
    margin: 0;
}

.card {
    width: 100%; /* Make card stretch to full container width */
    max-width: none; /* Remove max-width to allow full stretching */
    height: auto;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -50px; /* Remove any margins to avoid gaps */
}

.card-header {
    background-color: #30688B;
    color: #fff;
    padding: 10px;
    width: 100%; /* Make header stretch to full card width */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card-header img {
    max-height: 50px;
}

.card-body {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #343a40;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0%;
    height: 45px;
    font-size: 16px;
}

.form-control::placeholder {
    color: #6c757d;
}

.btn-success {
    background-color: #30688B;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.btn-success:hover {
    background-color: #3A79A0;
}

/* Style the select dropdown */
#addBorrowStatus option {
    line-height: 2; /* Attempt to increase spacing between options */
    padding: 8px 10px; /* Some browsers may respect padding */
    color: #000; /* Option text color */
    border-radius: 0px;
}
