body {
    font-family: Arial, sans-serif;
    margin: 0.5rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

form {
    background-color: #fff;
    padding: 1rem 2.25rem 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}

/* .conditionContainer {
    align-items: center;
    position: relative;
    display: flex; 
    margin-bottom: 1rem;
} */

#condition {
    font-size: 14px;
    border: 1px solid #1f1f1f;
    border-radius: 1px;
    height: 2.98rem;
    width: 32.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    appearance: none;
}

.suggestion-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1000;
}

.suggestion-box li {
    padding: 10px;
    cursor: pointer;
}

.suggestion-box li:hover {
    background-color: #eee;
}
